{% extends "../page.html" %}

{% block pageclass %}
  page-contact
{% endblock %}

{% block bghack %}
<div class="bg"></div>
{% endblock %}

{% block body %}
  <h1 class="clearfix">Say hello!</h1>
  <form id="contact" action="mailto:mail@mediapig.io" method="get" enctype="text/plain">
    <input type="email" name="email" placeholder="Your e-mail address" />
    <input type="text" name="subject" placeholder="Your e-mail subject" />
    <textarea name="body" cols="30" rows="8"></textarea>
    <input type="submit" name="submit" class="btn large" value="Send!">
  </form>
{% endblock %}
