<div id="discount-form" class="discount-form">
  <div class="discount-head">
    <img src="../images/gift-box.svg" />
    <h3>Claim your discount!</h3>
  </div>
  <form id="discount" action="" method="post" class="clearfix">
    <input id="discount-code" name="code" class="code" type="text" name="text" maxlength="5" placeholder="Enter discount" pattern="^\S{6,}$" autofocus required/>
    <input type="submit" class="btn secondary tertiary" value="Add">
    <span class="tick icon-checkmark"></span>
  </form>
</div>
