{% extends "../page.html" %}

{% block heading-alignment %}
heading-center
{% endblock %}

{% block bghack %}
<div class="bg"></div>
{% endblock %}

{% block body %}
<h1 class="clearfix">Frequently Asked Questions</h1>
<div class="faq-item">
  <h2>What payment methods do you accept?</h2>
  <p>We accept; Visa, MasterCard, and American Express</p>
</div>
<div class="faq-item">
  <h2>How do you handle payment?</h2>
  <p>
    We take security seriously here. This is why we use <a href="https://stripe.com/gb/features">Stripe</a> to process all of our payments. Stripe is a third party payment processor who have the technology, expertise and reputation to handle your cards securely. We never see your card details!
  </p>
  <p>
    There is no up-front cost to use our service. As long as you have a card linked to your account you can spin up virtual machines and spin them down again! You will only be charged for the hours your virtual machine is in an active state. Make sure you cancel your virtual machine instance when you are finished with it to avoid being billed for un-used hours!
  </p>
  <p>
    The day of the month you sign up to Mediapig will be your billing date. You will be billed on this date each month for the services used in that month. This is your billing period. Our services start at £0.009 per hour. Due to card processing fees we incur we must insist on a £1 minimum invoice charge. If all of your services for the month come to less than £1, a £1 processing fee will be applied.
  </p>
</div>
<div class="faq-item">
  <h2>Can users run their own kernels, or are these externally provided?</h2>
  <p>
    There are no restrictions for users to run their own kernels.
  </p>
</div>
<div class="faq-item">
  <h2>Do you provide access to the serial console, or VNC, if the user makes a firewalling mistake?</h2>
  <p>
    We provide access to a remote console access via HTML5 Canvas. That's available in your account immediately after purchase.
  </p>
</div>
<div class="faq-item">
  <h2>Where are your machines hosted, and do you own them or merely resell?</h2>
  <p>
    Currently our machines are owned by Hivelocity in the United States. We chose Hivelocity for there around the clock high standards of support. We're looking at adding more regions soon!
  </p>
</div>
<div class="faq-item">
  <h2>Can users configure custom reverse DNS for their IPs?</h2>
  <p>
    Yes, we allow users to configure custom reverse DNS for their IPs. We ask you raise a ticket for this configuration. But we're working on giving you DNS configuration capabilities in our control panel.
  </p>
</div>
<div class="faq-item">
  <h2>Do you offer backups?</h2>
  <p>
    We can provide backups. At the minute these need to be individually requested but we want to automate this in an upcoming release.
  </p>
</div>
<div class="faq-item">
  <h2>What type of drives are we using for storage?</h2>
  <p>
    Our disk space is using RAID 10 SATA. This gives us a good balance of speed and reliability.
  </p>
</div>
<div class="faq-item">
  <h2>What virtualization technology do you use?</h2>
  <p>
    We use KVM Virtualisation.
  </p>
</div>
{% endblock %}
