{% extends "../page.html" %}

{% block heading %}
  <h1 class="clearfix">Mediapig Press</h1>
{% endblock %}

{% block pageclass %}
  press-page
{% endblock %}

{% block body %}
  <div class="clearfix">
    <a class="block block-press">
      <img src="/images/briefcase.svg" width="200" />
      <h2>Press</h2>
    </a>

    <a class="block block-logo" href="/downloads/mediapig-assets.zip">
      <img src="/images/logo-small-dark.png" width="200" />
      <h2>Logos</h2>
    </a>
  </div>
{% endblock %}
