{% extends "../page.html" %}

{% block heading %}
  <h1 class="clearfix">Refund Policy</h1>
{% endblock %}

{% block heading-alignment %}
heading-left
{% endblock %}

{% block bghack %}
<div class="bg"></div>
{% endblock %}

{% block body %}
  <p><strong>Cancellations:</strong></p>
  <p>A "Cancellation" occurs when the Customer or Supplier voids an order for a withdrawal of funds from a Customer’s Card account or bank account before a sale is sent for deposit. Mediapig will not collect a deposit from the Customer and the previously authorized funds will be released at the Card issuing bank’s discretion.</p>
  <p>After a sale is sent for deposit, any attempt to reimburse the cost of a Product to a Customer constitutes a Refund and shall be dealt with as set forth below. You may contact us regarding your purchase from Mediapig within 30 days of delivery for a full refund.</p>
  <p><strong>Returns:</strong></p>
  <p>A return occurs when a Customer returns Products previously purchased from 2CO (“Return”).</p>
  <p>Mediapig will not reduce the amount of a Refund by the assessment of a “restocking fee” or any other charge (including shipping charges) for any Return that occurs in accordance with Mediapig's Return Policy.</p>
  <p><strong>Refunds:</strong></p>
  <p>A refund is the actual reimbursement of the cost of a Product to a Customer(“Refund”). Mediapig accomplishes the Refund by reversing the amount previously charged to the Customer’s Card or account at the Card issuing bank and the appropriate amount is credited to the appropriate Card or account at the Card issuing bank of Customer.</p>
  <p>It is important to be aware that there will be an admin fee of 20% charged in the event that an account is canceled before the contract term is up. If we are given a notice period of at least one calendar month prior to cancellation the admin fee will be waived.</p>
{% endblock %}
