{% extends "../page.html" %}

{% block heading %}
  <h1 class="clearfix">Service Level Agreement</h1>
{% endblock %}

{% block heading-alignment %}
heading-left
{% endblock %}

{% block bghack %}
<div class="bg"></div>
{% endblock %}

{% block body %}
  <p>Mediapigs’s Service Level Agreement is our&nbsp;commitment&nbsp;to you our customer’s to give you peace of mind and protection.</p>
  <p><strong>99.9% Uptime Guarantee</strong></p>
  <p>Your services with Mediapig will be available and online at least 99.9%. For every hour below the 99.9% guarantee we will compensate you, the customer, 5% of your hosting bill up to a maximum of 100% the monthly cost of your service. This excludes any pre-scheduled maintenance downtime.</p>
  <p><strong>24/7 Support</strong></p>
  <p>We aim to respond to all support queries within 6 hours but guarantee a response within 24 hours.</p>
{% endblock %}
