<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="wnkygCdBqV2WZPPBvBK5wanYcAz-hlJeu_Pn4EuIXxc" />
    <link rel="stylesheet" href="{{url}}/styles/main.css">
    <link rel="stylesheet" href="{{url}}/styles/error.css">
    <script type="text/javascript" src="//use.typekit.net/umh2auy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <title>
      {{name}} | Hosting without the hassle
    </title>
  </head>

  <body class="error-page">
    <div class="content">
      <img src="{{url}}/images/mascot.svg" alt="MediaPig Mascot" />
      <h1>Uh oh!</h1>
      <h3>This page doesn't exist anymore!</h3>
      <a href="/home" class="btn large">Let's go home.</a>
    </div>
  </body>
</html>
