<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{site.name}} | Manage</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{site.url}}styles/normalize.css">
  <link rel="stylesheet" href="{{site.url}}styles/account.css">
  <link rel="stylesheet" href="{{site.url}}styles/account_mobile.css">
  <script src="//use.typekit.net/bpu0jzj.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  {% block blockingscripts %}{% endblock %}
</head>
<body class="{% block pageclass %}account-default{% endblock %}">
  <header class="header">
    <div class="clearfix">
      <a href="/manage" class="logo"><img src="{{site.url}}/images/logo-small.svg"></a>
    </div>
  </header>

  <div class="content" role="main">
    <div class="utils clearfix">

        {% block breadcrumbs %}
        <ul class="breadcrumb">
          <li class="active">Home</li>
        </ul>
        {% endblock %}

        <a href="#" class="profile">
          Phillip Gourley <i class="arrow icon-arrow-down"></i>
        </a>

        {% block progress %}{% endblock %}

    </div>
  </div>

  {% block sidebar %}
  <!-- <aside class="sidebar">

  </aside> -->
  {% endblock %}

  {% block content %}

  {% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57169579-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
<script charset="utf-8">
  var siteObj = {
    section: 'account'
    {% if service_id %}
    , service_id: {{service_id}}
    {% endif %}
  }
</script>
<script src="{{site.url}}/js/curl/curl.js"></script>
<script src="{{site.url}}/js/app.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
