{% include 'fragments/header.html' %}
  <body class="home">
    <div class="bg"></div>
    <div class="intro-head">
      <section class="header line">
        <div class="left">
          <a id="logo" href="index.html" class="logo">{{name}}</a>
        </div>
        <div class="right">
          <ul>
            <li><a href="/signin" class="btn signin-btn">Sign in</a></li>
          </ul>
        </div>
      </section>
      <article class="body">
        <hgroup>
          <h1>Affordable hosting for everyone</h1>
          <h2 class="sub">Suspendisse ultrices metus leo, at tincidunt ex vulputate in. Nullam finibus lectus eros, ut euismod ligula imperdiet et.</h2>
        </hgroup>
        <a href="#" class="btn large overlay-trigger">Get started now</a>
      </article>
      <i class="intro-arrow icon-arrow-down"></i>
    </div>
    <div class="overlay">
      <div class="overlay-wrap">
        <a id="overlay-close" class="overlay-close" href="#">Back</a>
        <div id="overlay-content" class="overlay-content"></div>
      </div>
      <div id="error-wrap"></div>
    </div>
    {% include 'sales.html' %}
{% include 'fragments/footer.html' %}
