<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="wnkygCdBqV2WZPPBvBK5wanYcAz-hlJeu_Pn4EuIXxc" />
    <link rel="stylesheet" href="{{url}}styles/main.css">
    <script type="text/javascript" src="//use.typekit.net/umh2auy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <title>
      {{name}} | Hosting without the hassle
    </title>
  </head>

  <body class="home">
    <div class="bg">
      <div class="mountrange">
        <div class="mountrange-fencing">
          <div class="front-mountain-1"></div>
          <div class="front-mountain-2"></div>
          <div class="front-mountain-3"></div>
          <div class="back-mountain-1"></div>
          <div class="tree-line-1"></div>
        </div>
      </div>
    </div>
    <div class="intro-head">
      <header class="header line">
        <div class="left">
          <a id="logo" href="index.html" class="logo">{{name}}</a>
        </div>
        <div class="right">
          <ul>
            <li><a href="" class="active">Home</a></li>
            <li><a class="overlay-trigger" href="#">Place an order</a></li>
            <li><a href="/signin" class="signin-btn">Sign in</a></li>
          </ul>
        </div>
      </header>
      <article class="body">
        <hgroup>
          <h1>Hosting without the hassle.</h1>
          <h2 class="sub">Simple, afforable VPS hosting is just the beginning. <a href="#" class="highlight-anchor">Learn why.</a></h2>
        </hgroup>
        <a href="#" class="btn large overlay-trigger">Get started now</a>
      </article>
    </div>
    <div class="overlay">
      <div class="overlay-wrap">
        <a id="overlay-close" class="overlay-close" href="#"><img src="../images/close.svg" width="15px"></a>
        <div id="overlay-content" class="overlay-content"></div>
      </div>
      <div id="error-wrap"></div>
    </div>
    {% include 'sales.html' %}
    <script charset="utf-8">
    var curl = {
        baseUrl: '{{url}}'
    }
    </script>
    <script src="{{url}}js/curl.js"></script>
    <script src="{{url}}js/app.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  </body>
</html>
