<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="wnkygCdBqV2WZPPBvBK5wanYcAz-hlJeu_Pn4EuIXxc" />
    <meta name="keywords" content="VPS,Cloud,Hosting,Deploy">
    <link rel="stylesheet" href="{{site.url}}styles/main.css">
    <link rel="stylesheet" href="{{site.url}}styles/main_mobile.css">
    <script src="//use.typekit.net/bpu0jzj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <title>
      {{site.name}} | Hosting without the hassle
    </title>
  </head>

  <body class="home">
    <ul class="mobile-nav" id="mobile-nav">
      <li><a href="/" class="active">Home<span class="right">&rsaquo;</span></a></li>
      {% if logged_in %}
        <li><a href="/order">New service<span class="right">&rsaquo;</span></a></li>
        <li><a href="/manage">Manage<span class="right">&rsaquo;</span></a></li>
        <li><a href="/logout">Sign out<span class="right">&rsaquo;</span></a></li>
      {% else %}
        <li><a href="/order">Place an order<span class="right">&rsaquo;</span></a></li>
        <li><a href="/signin" class="signin-btn">Sign in<span class="right">&rsaquo;</span></a></li>
      {% endif %}
    </ul>
    <div class="bg">
      <div class="mountrange">
        <div class="mountrange-fencing">
          <div class="front-mountain-1"></div>
          <div class="front-mountain-2"></div>
          <div class="front-mountain-3"></div>
          <div class="back-mountain-1"></div>
          <div class="tree-line-1"></div>
        </div>
      </div>
    </div>
    <div class="intro-head">
      <a href="#" class="menu-toggle">&#9776; Menu</a>
      <header class="header line clearfix">
        <div class="left">
          <a id="logo" href="/" class="logo">{{site.name}}</a>
        </div>
        <div class="right">
          <ul>
            <li><a href="/" class="active">Home</a></li>
            {% if logged_in %}
              <li><a href="/order">New service</a></li>
              <li><a href="/manage">Manage</a></li>
              <li><a href="/logout">Sign out</a></li>
            {% else %}
              <li><a href="/order">Place an order</a></li>
              <li><a href="/signin" class="signin-btn">Sign in</a></li>
            {% endif %}
          </ul>
        </div>
      </header>
      <article class="body">
        <hgroup>
          <h1>Hosting without the hassle.</h1>
          <h2 class="sub">Simple, affordable VPS hosting is just the beginning. <a href="#more" class="highlight-anchor">Learn why.</a></h2>
        </hgroup>
        <a href="/order" class="btn large">See pricing plans</a>
        <span class="btn-sub">Pricing from £0.009/h</span>
      </article>
    </div>
    <div class="overlay">
      <div class="overlay-wrap">
        <a id="overlay-close" class="overlay-close" href="#"><img src="../images/close.svg" width="15px"></a>
        <div id="overlay-content" class="overlay-content"></div>
      </div>
      <div id="error-wrap" class="error-wrap"></div>
    </div>
    <div class="wrap">

    </div>
    <section class="white-section deploy-time" id="more">
      <div class="wrap clearfix">
        <h2>Deploy a new VPS server in <span class="seconds">80 seconds!</span></h2>
      </div>
    </section>
    <section class="gray-section product-overview expanded" id="product-overview">
      <div class="wrap clearfix">
        <div class="oneclick-window">
          <div class="oneclick-window-fade"></div>
          <div class="oneclick"></div>
          <div class="oneclick-popup"></div>
          <div class="oneclick-popup-content"></div>
          <div class="oneclick-popup-selected"></div>
          <div class="oneclick-cursor"></div>
        </div>
        <div class="big-feature oneclick-text">
          <ol class="big-feature-text key-number-list">
            <li>
              <h3>We're keeping it simple.</h3>
              <p>Create new servers in seconds after a single click. Destroy them just as quick.</p>
            </li>
            <li>
              <h3>Pay only for what you use.</h3>
              <p>Hourly billing is our standard. Don't pay for what you're not using. Terminate your server when you're ready! But some <a href="{{site.url}}page/terms">terms</a> do apply.</p>
            </li>
            <li>
              <h3>Take control and monitor everything.</h3>
              <p>We give you your own control panel to manage and monitor your VPS without needing your terminal. You can even start and stop your servers from your mobile.</p>
            </li>
          </ol>
        </div>

        <!-- <a href="#" id="product-overview-more" class="product-overview-more btn keyline">
          See more features
        </a> -->

        <section class="product-overview-extra">
          <ul class="corperate-features">
            <li>
              <img src="/images/network.svg" width="190" height="190">
              <h3>We're IPv6 ready!</h3>
            </li>
            <li>
              <img src="/images/remote.svg" width="190" height="190">
              <h3>Remote Console</h3>
            </li>
            <li>
              <img src="/images/kvm.svg" width="190" height="190">
              <h3>KVM Virtualisation</h3>
            </li>
            <li>
              <img src="/images/rootaccess.svg" width="190" height="190">
              <h3>Full Root Access</h3>
            </li>
          </ul>

          <ul class="checklist">
            <li><h3>RAID 10 SATA</h3></li>
            <li><h3>Aggregated billing</h3></li>
            <li><h3>One click order</h3></li>
            <li><h3>Resource monitoring</h3></li>
            <li><h3>Technical support staff</h3></li>
            <li><h3>Your own kernels</h3></li>
            <li><h3>Configurable reverse DNS</h3></li>
            <li><h3>Two CPU cores per server</h3></li>
          </ul>

        </section>
      </div>
    </section>
    <section class="white-section feedback">
      <hgroup>
        <h1>We really love to host!</h1>
        <h3>But don't just take our word for it.</h3>
      </hgroup>
      <div class="feedback-blocks">
        <blockquote class="active clearfix">
          <p class="testimonial">
            “Managing a portfolio of several websites, I have high demands for web hosting. The speed and effectiveness of MediaPig's customer service have kept me on as a steady long-term customer.”
            <span>- Halgir Winter Negata</span>
          </p>
          <cite>
            <img src="../images/gamingfo.jpg" width="75" height="75">
          </cite>
        </blockquote>
        <blockquote class="active clearfix">
          <p class="testimonial">
            “I have been using Mediapig for a while now and find it consistently meets or exceeds my needs. I thoroughly recommend it for anyone looking for an above average web host.”
            <span>- Terry Gilbert</span>
          </p>
          <cite>
            <img src="../images/man.svg" width="75" height="75">
          </cite>
        </blockquote>
        <div class="as-seen">
          <h2>
            We've also been seen on...
          </h2>
          <ul>
            <li><a href="https://news.ycombinator.com/" target="_blank"><img src="images/hackernews_small.png" alt="Hacker News" width="128" height="128" /></a></li>
            <li><a href="http://www.stackeo.me/" target="_blank"><img src="images/stackeo_small.png" alt="Stackeo" width="128" height="128" /></a></li>
            <li class="last"><a href="http://www.producthunt.com/" target="_blank"><img src="images/producthunt_small.png" alt="Product Hunt" width="128" height="128" /></a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="gray-section control-section">
      <div class="wrap clearfix">
        <h1>Gain more control!</h1>
        <h2>Make decisions from our control panel.</h2>
        <div class="browser">
          <div class="screenshot"></div>
        </div>
      </div>
    </section>

    <section class="dark-section call-to-action">
      <div class="wrap">
        <h2>Upgrade your hosting now!</h2>
        <h3>And start getting everything you want from hosting <br />without the hassle.</h3>
        <a href="/order" class="btn large">See pricing plans</a>
        <a href="/page/faq" class="faq-link clearfix">Or see our FAQ's</a>
      </div>
    </section>

    <footer class="footer">
      <div class="wrap clearfix">
        {% for footer in site.nav.footer %}
        <div class="column-{{loop.revindex}}">
          <h3>{{footer.value}}</h3>
          <ul class="footer-links">
            {% for children in footer.children %}
            <li><a href="{% if children.link %}{{children.link}}{%else%}/page/{{children.id}}{% endif %}">{{children.value}}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
        <div class="column-4">
          <h3>Newsletter Sign-up</h3>
          <p class="newsletter-description">Sign up to Mediapig's newsletter to find out the latest news and offers!</p>
          <form id="newsletter" action="#" class="newsletter-signup" method="post">
            <input class="newsletter-input" type="text" name="address" value="" placeholder="Enter your email...">
            <input type="button" name="subscribe" class="btn newsletter-button" value="Sign up">
          </form>
        </div>
      </div>
    </footer>
    <section class="footer-bar">
      <div class="wrap">
        <p>Copyright &copy; 2014 {{site.name}}. All rights reserved. <a href="https://twitter.com/MediaPigHost" class="twitter">You can find us on Twitter!</a></p>
      </div>
    </section>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57169579-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>

    <script charset="utf-8">
    var siteObj = {
      pagetype: 'landing'
    };
    </script>
    <script src="{{site.url}}js/curl.js"></script>
    <script src="{{site.url}}js/app.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  </body>
</html>
