<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="wnkygCdBqV2WZPPBvBK5wanYcAz-hlJeu_Pn4EuIXxc" />
    <link rel="stylesheet" href="{{url}}styles/main.css">
    <link rel="stylesheet" href="{{url}}styles/wizard.css">
    <script type="text/javascript" src="//use.typekit.net/umh2auy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <title>
      {{name}} | Hosting without the hassle
    </title>
  </head>

  <body class="order overlay-visible register-success">
    <div class="intro-head {% block heading-alignment %}heading-left{% endblock %}">
      <header class="header line">
        <a id="logo" href="/home" class="logo">{{name}}</a>
      </header>
    </div>
    <div class="wrap">
      <div class="content">
        {% for attribute in attributes %}
          <div class="order-wrap clearfix section-{{attribute.name|lower}}">
            <h2 class="order-grid-heading">{{attribute.display_name}}</h2>
            <ul class="order-grid">
              {% for value in attribute.values %}

                {% if attribute.name == 'os' %}
                  <li class="order-grid-item {% if value.default %}selected{% endif %}" data-value="{{value.value|lower}}" data-price="0.00" data-name="{{attribute.name}}" data-product-id="{{value.id}}">
                    <div class="order-box">
                      <div class="os-logo">
                        <img width="175" src="{{url}}images/{{value.value|lower}}.png" alt="" />
                      </div>
                      <h4>{{value.value}}</h4>
                    </div>
                  </li>
                {% else %}
                  <li class="order-grid-item {% if value.default %}selected{% endif %}" data-value="{{value.value}}" data-price="{{value.price}}" data-name="{{attribute.name}}" data-product-id="{{value.id}}">
                    <div class="order-box">
                      {{value.value}} <span class="unit">{{attribute.suffix}}</span>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
    <aside class="order-total-wrap">
      <div class="order-total clearfix">
        <div class="order-summary">
          <h3 class="order-total-price">£<span id="order-total-value">{{default_price}}</span></h3>
          <div href="#" class="option">
            <ul class="option-dropdown">
              <li><a href="#">Per year <span class="soon">Soon!</span></a></li>
              <li><a href="#" class="enabled">Per month </a></li>
              <li><a href="#">Per hour <span class="soon">Soon!</span></a></li>
            </ul>
            <a href="#" class="option-trigger">Per month <i class="icon-arrow-down"></i></a>
          </div>
          <h3 class="for">for</h3>
          {% for attribute in attributes %}
            {% if attribute.name == 'os' %}
            {% else %}
            <div href="#" class="option option-{{attribute.name|lower}}">
              <ul class="option-dropdown">
                {% for value in attribute.values %}
                <li data-value="{{value.value}}" data-name="{{attribute.name}}" data-product-id="{{value.id}}"><a href="#" class="option-link {% if value.default %}enabled{% endif %}"><span class="option-value">{{value.value}}</span>{{attribute.suffix}} {{attribute.name}}</a></li>
                {% endfor %}
              </ul>
              <a href="#" class="option-trigger option-trigger-{{attribute.name|lower}}"><span class="option-value">{{attribute.default_value}}</span>{{attribute.suffix}} {{attribute.name}} <i class="icon-arrow-down"></i></a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <a href="#" id="order-button" class="btn large payment-trigger disabled">Make Payment</a>
      </div>
    </aside>
    <div id="error-wrap"></div>

    <script charset="utf-8">
      var siteObj = {
        pagetype: 'order',
        basePrice: {{base_price}},
        orderConfig : {
          'user': '{{customer_id}}',
          'key' : '{{session_key}}',
          'attributes' : [],
          'product_id' : {{id}}
        }
      };
    </script>
    <script src="{{url}}js/curl.js"></script>
    <script src="{{url}}js/app.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</body>
</html>
