<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="wnkygCdBqV2WZPPBvBK5wanYcAz-hlJeu_Pn4EuIXxc" />
    <link rel="stylesheet" href="{{url}}styles/main.css">
    <link rel="stylesheet" href="{{url}}styles/wizard.css">
    <script type="text/javascript" src="//use.typekit.net/umh2auy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <title>
      {{name}} | Hosting without the hassle
    </title>
  </head>

  <body class="order overlay-visible register-success">
    <div class="intro-head {% block heading-alignment %}heading-left{% endblock %}">
      <header class="header line">
        <a id="logo" href="/home" class="logo">{{name}}</a>
      </header>
    </div>
    <div class="wrap">
      <div class="content">
        {% for attribute in attributes %}
          <div class="order-wrap clearfix">
            <h2 class="order-grid-heading">{{attribute.display_name}}</h2>
            <ul class="order-grid">
              {% for value in attribute.values %}

                {% if attribute.name == 'os' %}
                  <li class="order-grid-item {% if value.default %}selected{% endif %}">
                    <div class="order-box">
                      <div class="os-logo">
                        <img width="175" src="{{url}}images/{{value.name|lower}}.png" alt="" />
                      </div>
                      <h4>{{value.name}}</h4>
                    </div>
                  </li>
                {% else %}
                  <li class="order-grid-item {% if value.default %}selected{% endif %}" data-value="{{value.value}}" data-name="{{attribute.name}}" {% if value.id %} data-product-id="{{value.id}}"{% endif %}>
                    <div class="order-box">
                      {% if value.value %}
                        {{value.value}} <span class="unit">{{attribute.suffix}}</span>
                      {% else %}
                        {{value}} <span class="unit">{{attribute.suffix}}</span>
                      {% endif %}
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
    <aside class="order-total-wrap">
      <div class="order-total clearfix">
        <div class="order-summary">
          <h3 class="order-total-price"><span class="order-total-value">£{{base_price}}</span></h3>
          <div href="#" class="option">
            <ul class="option-dropdown">
              <li><a href="#">Per year <span class="soon">Soon!</span></a></li>
              <li><a href="#" class="enabled">Per month </a></li>
              <li><a href="#">Per hour <span class="soon">Soon!</span></a></li>
            </ul>
            <a href="#" class="option-trigger">Per month <i class="icon-arrow-down"></i></a>
          </div>
          <h3 class="for">for</h3>
          {% for attribute in attributes %}
            {% if attribute.name == 'ram' %}
              <div href="#" class="option option-ram">
                <ul class="option-dropdown">
                  {% for value in attribute.values %}
                  <li><a href="#" {% if value.default %}class="enabled"{% endif %}>{{value.value}}{{attribute.suffix}} RAM</a></li>
                  {% endfor %}
                </ul>
                {% for value in attribute.values %}
                  {% if value.default %}
                      <a href="#" class="option-trigger">{{value.value}}{{attribute.suffix}} RAM <i class="icon-arrow-down"></i></a>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            {% if attribute.name == 'disk' %}
              <div href="#" class="option">
                <ul class="option-dropdown">
                  {% for value in attribute.values %}
                  <li><a href="#" {% if value.default %}class="enabled"{% endif %}>{{value.value}}{{attribute.suffix}} HDD</a></li>
                  {% endfor %}
                </ul>
                {% for value in attribute.values %}
                  {% if value.default %}
                      <a href="#" class="option-trigger">{{value.value}}{{attribute.suffix}} HDD <i class="icon-arrow-down"></i></a>
                  {% endif %}
                {% endfor %}

              </div>
            {% endif %}
          {% endfor %}
        </div>
        <a href="#" class="btn large payment-trigger">Make Payment</a>
      </div>
    </aside>
    <div id="error-wrap"></div>

    <script charset="utf-8">
      var curl = {
          baseUrl: '{{url}}'
      };

      var siteObj = {
        pagetype: 'order'
      };
    </script>
    <script src="{{url}}js/curl.js"></script>
    <script src="{{url}}js/app.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</body>
</html>
