<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="wnkygCdBqV2WZPPBvBK5wanYcAz-hlJeu_Pn4EuIXxc" />
    <link rel="stylesheet" href="{{url}}styles/main.css">
    <script type="text/javascript" src="//use.typekit.net/umh2auy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <title>
      {{name}} | Hosting without the hassle
    </title>
  </head>

  <body class="order overlay-visible register-success">
    <div class="intro-head {% block heading-alignment %}heading-left{% endblock %}">
      <header class="header line">
        <a id="logo" href="/home" class="logo">{{name}}</a>
      </header>
    </div>
    <div class="overlay">
      <div class="overlay-wrap">
        <div id="overlay-content" class="overlay-content">

        </div>
      </div>
    </div>
    <div id="error-wrap"></div>

    <script charset="utf-8">
      var curl = {
          baseUrl: '{{url}}'
      }
    </script>
    <script src="{{url}}js/curl.js"></script>
    <script src="{{url}}js/app.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</body>
</html>
