<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="wnkygCdBqV2WZPPBvBK5wanYcAz-hlJeu_Pn4EuIXxc" />
    <link rel="stylesheet" href="{{url}}styles/main.css">
    <link rel="stylesheet" href="{{url}}styles/pages_mobile.css">
    <script type="text/javascript" src="//use.typekit.net/umh2auy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <title>
      {{name}} | Hosting without the hassle
    </title>
  </head>

  <body class="page content {% block pageclass %}default{% endblock %}">
    <ul class="mobile-nav">
      <li><a href="" class="active">Home<span class="right">&rsaquo;</span></a></li>
      {% if logged_in %}
        <li><a href="/order">New service<span class="right">&rsaquo;</span></a></li>
        <li><a href="/manage">Manage<span class="right">&rsaquo;</span></a></li>
        <li><a href="/logout">Sign out<span class="right">&rsaquo;</span></a></li>
      {% else %}
        <li><a href="/order">Place an order<span class="right">&rsaquo;</span></a></li>
        <li><a href="/signin" class="signin-btn">Sign in<span class="right">&rsaquo;</span></a></li>
      {% endif %}
    </ul>
    <div class="bg"></div>
    <div class="intro-head {% block heading-alignment %}heading-left{% endblock %}">
      <header class="header line">
        <a href="#" class="menu-toggle">&#9776; Menu</a>
        <div class="left">
          <a id="logo" href="/" class="logo">{{name}}</a>
        </div>
        <div class="right">
          <ul>
            <li><a href="" class="active">Home</a></li>
            <li><a href="/order">Place an order</a></li>
            <li><a href="/signin" class="signin-btn">Sign in</a></li>
          </ul>
        </div>

        {% block heading %}
          <h1 class="clearfix">Uh oh!</h1>
        {% endblock %}
      </header>
    </div>
    <div class="wrap">
      <article class="content">
        {% block body %}
          Sorry - This page doesn't exist!
        {% endblock %}
      </article>
    </div>
    <div class="overlay">
      <div class="overlay-wrap">
        <a id="overlay-close" class="overlay-close" href="#"><img src="../images/close.svg" width="15px"></a>
        <div id="overlay-content" class="overlay-content"></div>
      </div>
      <div id="error-wrap"></div>
    </div>
    <footer class="footer">
      <div class="wrap clearfix">
        <div class="column-1">
          <h3>Company</h3>
          <ul class="footer-links">
            <li><a href="/page/about">About Us</a></li>
            <li><a href="/page/contact">Contact Us</a></li>
            <li><a href="/page/press">Press</a></li>
          </ul>
        </div>
        <div class="column-2">
          <h3>Support</h3>
          <ul class="footer-links">
            <li><a href="mailto:team@mediapig.co.uk">Give Feedback</a></li>
          </ul>
        </div>
        <div class="column-3">
          <h3>Legal</h3>
          <ul class="footer-links">
            <li><a href="/page/terms">Terms of Service</a></li>
            <li><a href="/page/privacy">Privacy Policy</a></li>
            <li><a href="/page/refund">Refund Policy</a></li>
            <li><a href="/page/sla">Service Level Agreement</a></li>
          </ul>
        </div>
        <div class="column-4">
          <h3>Newsletter Sign-up</h3>
          <p class="newsletter-description">Sign up to Mediapig's newsletter to find out the latest news and offers!</p>
          <form id="newsletter" action="#" class="newsletter-signup" method="post">
            <input class="newsletter-input" type="text" name="address" value="" placeholder="Enter your email...">
            <input type="button" name="subscribe" class="btn newsletter-button" value="Sign up">
          </form>
        </div>
      </div>
    </footer>
    <section class="footer-bar">
      <div class="wrap">
        <p>Copyright &copy; 2014 MediaPig. All rights reserved.</p>
      </div>
    </section>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57169579-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script charset="utf-8">
    var curl = {
        baseUrl: '{{url}}'
    };
    var siteObj = {
      pagetype: 'page'
    };
    </script>
    <script src="{{url}}js/curl.js"></script>
    <script src="{{url}}js/app.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  </body>
</html>
