<div class="wrap">
  <section class="white-section features">
    <div class="row-1">
      <div class="feature feature-1 left">
        <div class="feature-img"></div>
        <h3>Easy Setup</h3>
        <p>We don't make things difficult so you can spend more time running your website.</p>
      </div>
      <div class="feature feature-2">
        <div class="feature-img"></div>
        <h3>Enterprise Quality</h3>
        <p>A great product that scales to your demands no matter the size of company.</p>
      </div>
      <div class="feature feature-3 right">
        <div class="feature-img"></div>
        <h3>Made For Developers</h3>
        <p>Manage your hosting without ever needing to visit MediaPig with our API.</p>
      </div>
    </div>
    <div class="row-2">
      <div class="feature feature-4 left">
        <div class="feature-img"></div>
        <h3>Professional Support</h3>
        <p>Support without the script. Just friendly technical staff to help you 24/7.</p>
      </div>
      <div class="feature feature-5">
        <div class="feature-img"></div>
        <h3>Service Level Agreement</h3>
        <p>We're so proud of our 99.999% uptime that we've gone as far as to put it on our SLA.</p>
      </div>
      <div class="feature feature-6 right">
        <div class="feature-img"></div>
        <h3>Beyond the basics</h3>
        <p>Get access to all of our pre-packaged hosting upgrades in just a few clicks.</p>
      </div>
    </div>
  </section>
</div>
<section class="gray-section">
  <div class="wrap clearfix">
    <div class="screenshot"></div>
    <div class="big-feature">
      <div class="big-feature-text">
        <h3>One-Click Wizard quis diam lobortis sup. Aliquam fringilla convallis eros.</h3>
        <p>Donec sed lectus quis diam lobortis suscipit. Aliquam fringilla convallis eros, eget varius libero fermentum ac. Quisque ac enim nec sem iaculis iaculis quis gravida nisi. Nulla pharetra laoreet velit. Snibh. Quisque vel purus vitae ligula posuere mollis ac ut quam.</p>
        <p>Curabitur et augue nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac sagittis ligula uspendisse molestie orci mauris. In ut velit ac tellus imperdiet aliquam vel sit amet.</p>
        <p>Quisque ac enim nec sem iaculis iaculis quis gravida nisi. Nulla pharetra laoreet velit. Snibh.</p>
      </div>
    </div>
  </div>
</section>
<section class="white-section">
  <div class="wrap clearfix">
    <div class="feature-list">
      <div class="feature-list-text">
        <h3>One-Click Management</h3>
        <p>Curabitur et augue nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac sagittis ligula, id viverra diam. Integer venenatis facilisis diam, nec suscipit</p>
        <h3>Full Root Access</h3>
        <p>Curabitur et augue nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac sagittis ligula, id viverra diam. Integer venenatis facilisis diam, nec suscipit</p>
        <h3>Simple API</h3>
        <p>Curabitur et augue nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac sagittis ligula, id viverra diam. Integer venenatis facilisis diam, nec suscipit</p>
      </div>
    </div>
    <div class="screenshot"></div>
  </div>
</section>
<section class="gray-section testimonials">
  <div class="wrap cleafix">
    <img class="testimonials-mark" src="../images/mark.svg">
    <blockquote class="active">
      <p class="testimonial">Managing a portfolio of several websites, I have high demands for web hosting. The speed and effectiveness of MediaPig's customer service have kept me on as a steady long-term customer.</p>
      <cite>
        <img src="../images/gamingfo.png" width="50" height="50">
        <p class="name">Halgir Winther Nagata</p>
        <p>Gaming.fo</p>
      </cite>
    </blockquote>
    <div class="testimonials-pagination">
      <p>
        <span class="active"><img src="../images/testimonials_dot.svg"></span>
        <span><img src="../images/testimonials_dot.svg"></span>
        <span><img src="../images/testimonials_dot.svg"></span>
      </p>
    </div>
  </div>
</section>
<section class="dark-section call-to-action">
  <div class="wrap">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <h3>In ac luctus augue. Curabitur sagittis mi eros,<br> did dapibus metus pretium a. Lorem Ipsum.</h3>
    <a class="btn large overlay-trigger" href="#">Get started now</a>
  </div>
</section>
{% include 'fragments/footer-links.html' %}
