<div class="wrap">
  <section class="white-section features">
    <div class="row-1">
      <div class="feature feature-1 left">
        <div class="feature-img"></div>
        <h3>Easy Setup</h3>
        <p>Etiam urna quam, fringilla at libero a, accumsan laoreet tortor. Sed eu mollis.</p>
      </div>
      <div class="feature feature-2">
        <div class="feature-img"></div>
        <h3>Enterprise Quality</h3>
        <p>Vivamus a placerat dui, in imperdiet odio. Cras ac varius dolor a placerat dui varius.</p>
      </div>
      <div class="feature feature-3 right">
        <div class="feature-img"></div>
        <h3>Made For Developers</h3>
        <p>Nullam varius mi nec tellus suscipit auctor. Sed non odio blandit, dignissim tortor sed.</p>
      </div>
    </div>
    <div class="row-2">
      <div class="feature feature-4 left">
        <div class="feature-img"></div>
        <h3>Professional Support</h3>
        <p>Fusce fringilla, ipsum vel feugiat vulputate, tortor lectus tincidunt urna, sit amet cup.</p>
      </div>
      <div class="feature feature-5">
        <div class="feature-img"></div>
        <h3>Service Level Agreement</h3>
        <p>Nunc nec risus ligula. Nulla aliquam justo vitae neque pharetra dignissim in non.</p>
      </div>
      <div class="feature feature-6 right">
        <div class="feature-img"></div>
        <h3>Content Distribution Network</h3>
        <p>Etiam urna quam, fringilla at libero a, accumsan laoreet tortor. Sed eu mollis.</p>
      </div>
    </div>
  </section>
</div>
<section class="gray-section">
  <div class="wrap clearfix">
    <div class="screenshot"></div>
    <div class="big-feature">
      <div class="big-feature-text">
        <h3>One-Click Wizard quis diam lobortis sup. Aliquam fringilla convallis eros.</h3>
        <p>Donec sed lectus quis diam lobortis suscipit. Aliquam fringilla convallis eros, eget varius libero fermentum ac. Quisque ac enim nec sem iaculis iaculis quis gravida nisi. Nulla pharetra laoreet velit. Snibh. Quisque vel purus vitae ligula posuere mollis ac ut quam.</p>
        <p>Curabitur et augue nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac sagittis ligula uspendisse molestie orci mauris. In ut velit ac tellus imperdiet aliquam vel sit amet.</p>
        <p>Quisque ac enim nec sem iaculis iaculis quis gravida nisi. Nulla pharetra laoreet velit. Snibh.</p>
      </div>
    </div>
  </div>
</section>
<section class="white-section">
  <div class="wrap clearfix">
    <div class="screenshot"></div>
    <div class="feature-list">
      <div class="feature-list-text">
        <h3>One-Click Management</h3>
        <p>Curabitur et augue nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac sagittis ligula, id viverra diam. Integer venenatis facilisis diam, nec suscipit</p>
        <h3>Full Root Access</h3>
        <p>Curabitur et augue nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac sagittis ligula, id viverra diam. Integer venenatis facilisis diam, nec suscipit</p>
        <h3>Simple API</h3>
        <p>Curabitur et augue nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac sagittis ligula, id viverra diam. Integer venenatis facilisis diam, nec suscipit</p>
      </div>
    </div>
  </div>
</section>
<section class="gray-section testimonials">
  <div class="wrap cleafix">
    <img class="testimonials-mark" src="../images/mark.svg">
    <blockquote class="active">
      <p>Duis convallis ex tincidunt imperdiet fermentum. Aliquam id pharetra nisi. Donec arcu sem, volutpat sit amet pretium vel, porttitor ut nibh. Sed hendrerit eros vitae auctor aucto volutpat sit amet pretiumr hendrerit eros vitae sit amet .</p>
      <cite>
        <img src="../images/.png">
        <p>Example Name</p>
        <p>Some guy at Company Inc.</p>
      </cite>
    </blockquote>
    <blockquote>
      <p>Duis convallis ex tincidunt imperdiet fermentum. Aliquam id pharetra nisi. Donec arcu sem, volutpat sit amet pretium vel, porttitor ut nibh. Sed hendrerit eros vitae auctor aucto volutpat sit amet pretiumr hendrerit eros vitae sit amet .</p>
      <cite>
        <img src="../images/.png">
        <p>Example Name</p>
        <p>Some guy at Company Inc.</p>
      </cite>
    </blockquote>
    <blockquote>
      <p>Duis convallis ex tincidunt imperdiet fermentum. Aliquam id pharetra nisi. Donec arcu sem, volutpat sit amet pretium vel, porttitor ut nibh. Sed hendrerit eros vitae auctor aucto volutpat sit amet pretiumr hendrerit eros vitae sit amet .</p>
      <cite>
        <img src="../images/.png">
        <p>Example Name</p>
        <p>Some guy at Company Inc.</p>
      </cite>
    </blockquote>
    <div class="testimonials-pagination">
      <p>
        <span class="active"><img src="../images/.svg"></span>
        <span><img src="../images/.svg"></span>
        <span><img src="../images/.svg"></span>
      </p>
    </div>
  </div>
</section>
<section class="dark-section call-to-action">
  <div class="wrap">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <h3>In ac luctus augue. Curabitur sagittis mi eros,<br> did dapibus metus pretium a. Lorem Ipsum.</h3>
    <a class="btn large overlay-trigger" href="#">Get started now</a>
  </div>
</section>
<footer class="footer">
  <div class="wrap clearfix">
    <div class="column-1">
      <h3>Share</h3>
      <ul class="footer-links footer-buttons">
        <li>
          <div class="fb-like" data-href="https://mediapig.co.uk" data-width="50" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </li>
        <li>
          <div class="g-plusone" data-size="medium"></div>
        </li>
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mediapig.co.uk" data-dnt="true">Tweet</a>
        </li>
      </ul>
    </div>
    <div class="column-2">
      <h3>Services</h3>
      <ul class="footer-links">
        <li><a href="">VPS Hosting</a></li>
        <li><a href="">Shared Hosting</a></li>
        <li><a href="">Domain Name</a></li>
      </ul>
    </div>
    <div class="column-3">
      <h3>Company</h3>
      <ul class="footer-links">
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">News</a></li>
      </ul>
    </div>
    <div class="column-4">
      <h3>Support</h3>
      <ul class="footer-links">
        <li><a href="">FAQ</a></li>
        <li><a href="">Live Chat</a></li>
        <li><a href="">Submit a Ticket</a></li>
        <li><a href="">Give Feedback</a></li>
      </ul>
    </div>
    <div class="column-5">
      <h3>Legal</h3>
      <ul class="footer-links">
        <li><a href="">Terms of Service</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Refund Policy</a></li>
        <li><a href="">Service Level Agreement</a></li>
      </ul>
    </div>
  </div>
</footer>
<section class="footer-bar">
  <div class="wrap">
    <p>Copyright &copy; 2014 MediaPig. All rights reserved.</p>
  </div>
</section>
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fi_FI/sdk.js#xfbml=1&appId=272682532872032&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>