<div class="wrap">
  <div class="features">
    <div class="row-1">
      <div class="feature feature-1">
        <div class="feature-img"></div>
        <h3>Feature</h3>
        <p>Etiam urna quam, fringilla at libero a, accumsan laoreet tortor. Sed eu mollis.</p>
      </div>
      <div class="feature feature-2">
        <div class="feature-img"></div>
        <h3>Feature</h3>
        <p>Etiam urna quam, fringilla at libero a, accumsan laoreet tortor. Sed eu mollis.</p>
      </div>
      <div class="feature feature-3">
        <div class="feature-img"></div>
        <h3>Feature</h3>
        <p>Etiam urna quam, fringilla at libero a, accumsan laoreet tortor. Sed eu mollis.</p>
      </div>
    </div>
    <div class="row-2">
      <div class="feature feature-4">
        <div class="feature-img"></div>
        <h3>Feature</h3>
        <p>Etiam urna quam, fringilla at libero a, accumsan laoreet tortor. Sed eu mollis.</p>
      </div>
      <div class="feature feature-5">
        <div class="feature-img"></div>
        <h3>Feature</h3>
        <p>Etiam urna quam, fringilla at libero a, accumsan laoreet tortor. Sed eu mollis.</p>
      </div>
      <div class="feature feature-6">
        <div class="feature-img"></div>
        <h3>Feature</h3>
        <p>Etiam urna quam, fringilla at libero a, accumsan laoreet tortor. Sed eu mollis.</p>
      </div>
    </div>
  </div>
</div>