.landing {
  background-color: #2e4952;
}

.footer {
  background: #6e8666;
  border-top: 61px solid #608aa7;
  height: 104px;
  width: 100%;
  display: block;
  position:fixed;
  left: 0;
  bottom: 0;
  text-align: center;

  .mountains {
    background: url('../images/bg.png') no-repeat center center;
    width: 100%;
    height: 400px;
    position: relative;
    top: -296px;
    margin: 0 auto;
    display: block;
  }
}


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .logo {
    background: url('../images/logo@x2.png') no-repeat;
    background-size: 307px 118px;
  }

  .footer .mountains {
    background: url('../images/bg@x2.png') no-repeat center center;
    background-size: 1032px 400px;
  }
}
