$susy: (
  columns: 24,  // The number of columns in your grid
  gutters: 20px/30px, // The size of a gutter in relation to a single column
  column-width: 30px
);

// Define your breakpoints
$tablet-width: max-width 768px;
$tablet-col: 8;
$mobile-width: max-width 480px;
$mobile-col: 4;
