<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{name}} | Manage</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url}}styles/normalize.css">
  <link rel="stylesheet" href="{{url}}styles/account.css">
  <link rel="stylesheet" href="{{url}}styles/account_mobile.css">
  <script type="text/javascript" src="//use.typekit.net/umh2auy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<header>
		<div class="container clearfix">
			<a href="/manage" class="logo"><img src="../images/logo-small@x2.png"></a>
			<div class="right">
				<a href="/manage" class="name"><img src="../images/account.svg" height="18"></a>
				<a href="/manage" class="name"><img src="../images/billing.svg" height="18"></a>
				<a href="/manage/support.html"><img src="../images/support.svg" height="18"></a>
				<a href="/manage/account.html" class="settings-icon"><img src="../images/cog.svg" height="18"></a>
				<a href="/manage/account.html" class="settings-icon"><img src="../images/bell.svg" height="18"></a>
				<a href="#" class="settings-icon last"><img src="../images/signout.svg" height="18"></a>
			</div>
		</div>
	</header>