{% extends "../account.html" %}

{% block pageclass %}account-home{% endblock %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li class="active">Account</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<div class="profile clearfix">
			<div class="avatar"></div>
			<div class="text-module">
				<h3>Logged in as</h3>
				<h2>Aleksi Tappura</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="products">
		<div class="product clearfix">
			<a href="manage/product.html"><img src="../images/overview_grey.svg" alt="Manage">Details</a>
			<a href="manage/billing.html" class="first"><img src="../images/billing_grey.svg" alt="Manage">Billing</a>
			<h3>aleksitappura.com</h3>
		</div>
		<div class="product clearfix">
			<a href="manage/product.html"><img src="../images/overview_grey.svg" alt="Manage">Details</a>
			<a href="manage/billing.html" class="first"><img src="../images/billing_grey.svg" alt="Manage">Billing</a>
			<h3>mediapig.co.uk</h3>
		</div>
		<div class="product clearfix">
			<a href="manage/product.html"><img src="../images/overview_grey.svg" alt="Manage">Details</a>
			<a href="manage/billing.html" class="first"><img src="../images/billing_grey.svg" alt="Manage">Billing</a>
			<h3>aleksi.cool</h3>
		</div>
		<div class="product clearfix">
			<a href="manage/product.html"><img src="../images/overview_grey.svg" alt="Manage">Details</a>
			<a href="manage/billing.html" class="first"><img src="../images/billing_grey.svg" alt="Manage">Billing</a>
			<h3>palgie.co.uk</h3>
		</div>
	</div>
</div>
{% endblock %}
