{% extends "../account.html" %}

{% block pageclass %}account-home{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li><a href="/manage">Account</a></li>
		<li><a href="/manage/invoices">Invoices</a></li>
		<li class="active">Invoice #{{invoice_id}}</li>
	</ul>
{% endblock %}

{% block sidebar %}
	<!-- {% for service in services|reverse %}
	<div class="product clearfix {{service.status|lower}}">
		<h3>{{service.value}}</h3>
		<span class="loading"><img src="images/loading-colour.svg" alt="Loading..." class="loading-image" />&nbsp; Setting up...</span>
		<a href="manage/product/{{service.id}}" class="last"><img src="../images/overview_grey.svg" alt="Manage">Details</a>
	</div>
	{% endfor %} -->
{% endblock %}
