{% extends "../account.html" %}

{% block pageclass %}account-home{% endblock %}

{% block content %}
<div class="top-head">
	<div class="container">
		<div class="profile clearfix">
			<div class="avatar">
				<img src="{{gravatar_hash}}" alt="{{first_name}}'s Avatar" />
			</div>
			<div class="text-module">
				<h3>Logged in as</h3>
				<h2>{{first_name}} {{last_name}}</h2>
			</div>
			<a href="/order" class="btn account service-add"><i class="add-icon"></i>Add new service</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="products">
		{% for service in services|reverse %}
			<div class="product clearfix {{service.status|lower}}">
				<h3>{{service.value}}</h3>
				<a href="manage/product/{{service.id}}" class="last"><img src="../images/overview_grey.svg" alt="Manage">Details</a>
				<!-- <a href="manage/product/{{service.id}}" title="View notifications"><span class="notification-bubble" data-notification="1"></span></a>-->
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
