{% extends "../account.html" %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li class="active">Billing</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Billing</h2>
		<h3>Payment methods</h3>
	</div>
</div>
<div class="container">
	<ul class="tab-nav">
		<li><a href="/manage/payment.html" class="active">Payment history</a></li>
		<li><a href="/manage/subscriptions.html">Manage subscriptions</a></li>
		<li><a href="/manage/methods.html">Payment methods</a></li>
	</ul>

</div>
{% endblock %}