{% extends "../account.html" %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li class="active">Billing</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Billing</h2>
		<h3>Payment methods</h3>
	</div>
</div>
<div class="container clearfix">
	<ul class="tab-nav">
		<li><a href="/manage/payment">Payment history</a></li>
		<li><a href="/manage/invoices">Invoices</a></li>
		<li><a href="/manage/methods" class="active">Payment methods</a></li>
	</ul>
	<div class="cards clearfix">
		{% for card in cards %}
		<div class="card clearfix">
			<a href="#"><img src="../images/remove_grey.svg" title="Remove card"></a>
			<p><strong>Card:</strong> {{card.type}} &nbsp; <strong>Number:</strong> {{card.number}}</p>
		</div>
		{% endfor %}
	</div>
	<div class="add-cc clearfix">
	<h3>Add a new card</h3>
		<form role="form" class="cc-form clearfix">
			<div class="formgroup clearfix">
				<label for="inputName">Name:</label>
		    <input type="text" id="inputName" placeholder="John Doe">
	    </div>
			<div class="formgroup clearfix">
				<label for="inputCard">Card number:</label>
		    <input type="text" id="inputCard" placeholder="4111111111111111">
	    </div>
	    <div class="formgroup clearfix">
				<label for="inputCVC">CVC:</label>
		    <input type="text" id="inputCVC" placeholder="123">
	    </div>
	    <div class="formgroup clearfix">
				<label for="inputCVC">Expiration date:</label>
		    <select>
		    	<option disabled selected>Month</option>
				  <option value="01">01</option>
				  <option value="02">02</option>
				  <option value="03">03</option>
				  <option value="04">04</option>
				  <option value="05">05</option>
				  <option value="06">06</option>
				  <option value="07">07</option>
				  <option value="08">08</option>
				  <option value="09">09</option>
				  <option value="10">10</option>
				  <option value="11">12</option>
				  <option value="12">12</option>
				</select>
				<select>
					<option disabled selected>Year</option>
				  <option value="2014">2014</option>
				  <option value="2014">2015</option>
				  <option value="2014">2016</option>
				  <option value="2014">2017</option>
				  <option value="2014">2018</option>
				  <option value="2014">2019</option>
				</select>
	    </div>
			<button type="submit">Add a card</button>
		</form>
	</div>
</div>
{% endblock %}
