{% extends "../account.html" %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li><a href="/manage/support">Support</a></li>
			<li class="active">New ticket</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Support</h2>
		<h3>Create a new ticket</h3>
	</div>
</div>
<div class="container">
	<form role="form" method="post" action="/manage/newticket" class="account-form submit-ticket-form">
		<!-- <div class="formgroup clearfix">
			<label for="selectProduct">Product:</label>
			<select>
			  <option value="general">General</option>
			  <option value="account">Account</option>
			  <option value="vpshosting">VPS Hosting</option>
			  <option value="other">Billing</option>
			  <option value="other">Other</option>
			</select>
		</div> -->
		<div class="formgroup clearfix">
			<label for="selectProduct">Service:</label>
			<select name="service_id">
					<option value="">No service</option>
				{% for service in services %}
					<option value="{{service.id}}">{{service.value}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="formgroup clearfix">
			<label for="title">Subject:</label>
	    <input type="text" id="title" name="title">
    </div>
    <div class="formgroup clearfix">
			<label for="message">Description:</label>
	    <textarea rows="10" id="message" name="message"></textarea>
    </div>
    <!-- <div class="formgroup file clearfix">
    	<label for="inputPhone">Attachments:</label>
		  <input type="file" id="inputAvatar">
	  </div> -->
    <button type="submit">Submit ticket</button>
	</form>
</div>
{% endblock %}
