{% extends "../account.html" %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li class="active">Settings</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Settings</h2>
		<h3>Change password</h3>
	</div>
</div>
<div class="container clearfix">
	<ul class="tab-nav">
		<li><a href="/manage/account">General</a></li>
		<li><a href="/manage/password" class="active">Change password</a></li>
	</ul>
	<div class="changepassword clearfix">
	<h3>Change password</h3>
		<form role="form" class="account-form">
			<div class="formgroup clearfix">
				<label for="inputPassword">New password:</label>
		    <input type="password" id="inputPassword">
	    </div>
			<div class="formgroup clearfix">
				<label for="inputPasswordagain">New password again:</label>
		    <input type="password" id="inputPasswordagain">
	    </div>
	    <div class="formgroup clearfix">
				<label for="inputCurrentpassword">Current password:</label>
		    <input type="password" id="inputCurrentpassword">
	    </div>
	    <button type="submit">Change password</button>
		</form>
	</div>
</div>
{% endblock %}
