{% extends "../account.html" %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li class="active">Settings</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Settings</h2>
		<h3>Change password</h3>
	</div>
</div>
<div class="container clearfix">
	<ul class="tab-nav">
		<li><a href="/manage/account">General</a></li>
		<li><a href="/manage/password" class="active">Change password</a></li>
	</ul>
		{% if status == 'error' %}
			{% for key, val in errors %}
			<div class="notification clearfix" id="panel">
				<a href="#" class="remove" id="remove" title="Mark as read"><img src="{{url}}/images/remove.svg"></a>
				<p>{{val}}</p>
			</div>
			{% endfor %}
		{% endif %}
		{% if status == 'success' %}
			<div class="notification success clearfix" id="panel">
				<a href="#" class="remove" id="remove" title="Mark as read"><img src="{{url}}/images/remove.svg"></a>
				<p>Your password has been successfully updated.</p>
			</div>
		{% endif %}
	<div class="changepassword clearfix">
	<h3>Change password</h3>
		<form role="form" action="/manage/password" method="post" class="account-form">
			<div class="formgroup clearfix">
				<label for="password">New password:</label>
		    <input type="password" id="password" name="password">
	    </div>
	    <div class="formgroup clearfix">
				<label for="current_password">Current password:</label>
		    <input type="password" id="current_password" name="current_password">
	    </div>
	    <button type="submit">Change password</button>
		</form>
	</div>
</div>
{% endblock %}
