{% extends "../account.html" %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li class="active">Billing</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Billing</h2>
		<h3>Payment history</h3>
	</div>
</div>
<div class="container">
<ul class="tab-nav">
	<li class="active"><a href="#">Payment history</a></li>
	<li><a href="#">Manage subscriptions</a></li>
	<li><a href="#">Payment type</a></li>
</ul>	
</div>
{% endblock %}