{% extends "../account.html" %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li class="active">Billing</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Billing</h2>
		<h3>Payment history</h3>
	</div>
</div>
<div class="container">
	<ul class="tab-nav">
		<li><a href="/manage/payment" class="active">Payment history</a></li>
		<li><a href="/manage/invoices">Invoices</a></li>
		<li><a href="/manage/methods">Payment methods</a></li>
	</ul>
	<table class="tickets">
		<thead>
			<tr>
				<th class="first">Transaction</th>
				<th>Date</th>
				<th>Description</th>
				<th class="last">Amount (VAT 0%)</th>
			</tr>
		</thead>
		<tbody>
			{% for payment in payments %}
			<tr>
				<td class="first" data-title="Number">{{payment.id}}</td>
				<td data-title="Subject">{{payment.date}}</td>
				<td data-title="Product">{{payment.description}}</td>
				<td data-title="Last updated">£{{payment.amount}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
