{% extends "../account.html" %}

{% block pageclass %}account-product{% endblock %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li class="active">{{attributes.hostname.value}}</li>
		</ul>
	</div>
</div>
<div class="container">
	<!-- <div class="notification clearfix" id="panel">
		<a href="#" class="remove" id="remove" title="Mark as read"><img src="{{url}}/images/remove.svg"></a>
		<p>Nunc consectetur a justo ut sagittis. We suggest you to <a href="#">renew now</a>.</p>
	</div> -->
</div>
<div class="top-head">
	<div class="container">
		<h2>{{attributes.hostname.value}}</h2>
		<h3>Details</h3>
	</div>
</div>
<div class="container clearfix">
	<div class="overview">
		<h3>General</h3>
		<ul class="details">
			<li><span class="detail">Hostname:</span> {{attributes.hostname.value}}</li>
			<li class="last"><span class="detail">IP address:</span> {{attributes.solusvm_main_ip.value}}</li>
		</ul>
	</div>
	<div class="ftp">
		<h3>VM Details / SSH</h3>
		<ul class="details">
			<li><span class="detail">Username:</span> root</li>
			<li class="last"><span class="detail">Password:</span> {{attributes.solusvm_root_password.value}}</li>
		</ul>
	</div>
	<div class="usage">
		<h3>Usage</h3>
		<ul class="details">
			<div class="detail-wrap">
				<li>Bandwidth:</li>
				<span class="detail">{{stats.bandwidth.used}} / {{stats.bandwidth.total}} GB</span>
				<progress value="{{stats.bandwidth.used}}" max="{{stats.bandwidth.total}}"></progress>
			</div>
			<div class="comingsoon">Coming Soon</div>
			<div class="detail-wrap">
				<li>CPU usage:</li>
				<span class="detail">20%</span>
				<progress value="40" max="100"></progress>
			</div>
			<div class="detail-wrap">
				<li>Memory usage:</li>
				<span class="detail">24 / 512 MB</span>
				<progress value="5" max="100"></progress>
			</div>
			<div class="detail-wrap last">
				<li>Disk space:</li>
				<span class="detail">0.25 / 10 GB</span>
				<progress value="10" max="100"></progress>
			</div>

		</ul>
	</div>
</div>
{% endblock %}
