{% extends "../account.html" %}

{% block pageclass %}account-product{% endblock %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li class="active">aleksitappura.com</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>aleksitappura.com</h2>
		<h3>Overview</h3>
	</div>
</div>
<div class="container clearfix">
	<div class="overview">
		<h3>General</h3>
		<ul class="details">
			<li><span class="detail">Domain:</span> aleksitappura.com</li>
			<li class="last"><span class="detail">IP address:</span> 22.231.113.64</li>
		</ul>
	</div>
	<div class="nameservers">
		<h3>Nameservers</h3>
		<ul class="details">
			<li><span class="detail">Nameserver 1:</span> ns1.mediapig.co.uk</li>
			<li class="last"><span class="detail">Nameserver 2:</span> ns2.mediapig.co.uk</li>
		</ul>
	</div>
	<div class="usage">
		<h3>Usage</h3>
		<ul class="details">
			<div class="detail-wrap">
				<li>CPU usage:</li>
				<span class="detail">20%</span>
				<progress value="40" max="100"></progress>
			</div>
			<div class="detail-wrap">
				<li>Memory usage:</li>
				<span class="detail">24 / 512 MB</span>
				<progress value="5" max="100"></progress>
			</div>
			<div class="detail-wrap">
				<li>Disk space:</li>
				<span class="detail">0.25 / 10 GB</span>
				<progress value="10" max="100"></progress>
			</div>
			<div class="detail-wrap last">
				<li>Bandwidth:</li>
				<span class="detail">10.2 / 50 GB</span>
				<progress value="60" max="100"></progress>
			</div>
		</ul>
	</div>
	<div class="ftp">
		<h3>FTP details</h3>
		<ul class="details">
			<li><span class="detail">Server:</span> ftp.aleksitappura.com</li>
			<li><span class="detail">Username:</span> admin</li>
			<li><span class="detail">Password:</span> B8av#A+~bB,86LR</li>
			<li class="last"><span class="detail">Port:</span> 21</li>
		</ul>
	</div>
</div>
{% endblock %}