{% extends "../account.html" %}

{% block pageclass %}account-product{% endblock %}

{% block content %}
<div class="col8">
	<div class="block-wrap span2">
		<div class="block push">
			<h2 class="block-title">Server Details</h2>
			<dl class="block-list">
				<dt>Hostname: </dt>
				<dd>{{attributes.hostname.value}}</dd>
				<dt>Address: </dt>
				<dd>{{attributes.solusvm_main_ip.value}}</dd>
				<!-- <dt>OS: </dt>
				<dd>{{attributes.os.value}}</dd> -->
				{% if stats.status != 'error' %}
				<dt>Bandwidth:</dt>
				<dd>{{stats.bandwidth.used}} / {{stats.bandwidth.total}} GB</dd>
				<dt>Storage: </dt>
				<dd>{{attributes.disk.value}}GB</dd>
				<dt>Memory: </dt>
				<dd>{{attributes.ram.value}}MB</dd>
				{% endif %}
			</dl>
		</div>
		<div class="block push">
			<h2 class="block-title">VM Details / SSH</h2>
			<dl class="block-list">
				<dt>Username:</dt>
				<dd>root</dd>
				<dt>Password</dt>
				<dd>{{attributes.solusvm_root_password.value}}</dd>
			</dl>
		</div>
	</div>
	<div class="block-wrap span4">
		<div class="block block-graph">
			<h2 class="block-title">CPU Load</h2>
			<div id="chart_div" class="graph"></div>
		</div>

		<div class="block block-graph">
			<h2 class="block-title">Memory Utilisation</h2>
			<div id="chart2_div" class="graph"></div>
		</div>

		<div class="block block-graph">
			<h2 class="block-title">Disk I/O</h2>
			<div id="chart3_div" class="graph"></div>
		</div>
	</div>
	<div class="block-wrap span2">
		<div class="block">
			<div class="block-number">
				<h3>1,232</h3>
				<h4>Service Events</h4>
				<p>Last: 2 hours ago</p>
			</div>
		</div>
		<a href="#" class="block reward">
			<img src="{{site.url}}images/reward.svg" width="171" height="171" />
			<h2>Earn your 50 free hours!</h2>
			<span>Find out more</span>
		</a>
	</div>
	<!-- <div class="block-wrap">
		<div class="block"></div>
	</div>
	<div class="block-wrap">
		<div class="block"></div>
	</div> -->
</div>
{% endblock %}
