{% extends "../account.html" %}

{% block content %}

<div class="modal">
  <div class="overlay"></div>
  <div class="modal__contents modal--transition">
    <a class="modal__close" href="#"><img src="../images/remove_grey.svg" alt="Manage"></a>
  </div>
</div>

<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li class="active">Billing</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Billing</h2>
		<h3>Manage subscriptions</h3>
	</div>
</div>
<div class="container">
	<ul class="tab-nav">
		<li><a href="/manage/payment.html">Payment history</a></li>
		<li><a href="/manage/subscriptions.html" class="active">Manage subscriptions</a></li>
		<li><a href="/manage/methods.html">Payment methods</a></li>
	</ul>
	<div class="products subscriptions">
		<div class="product clearfix">
			<a href="#"><img src="../images/remove_grey.svg" alt="Manage">Cancel</a>
			<a href="#" class="first btn"><img src="../images/upgrade_grey.svg" alt="Manage">Upgrade</a>
			<h3>aleksitappura.com</h3>
		</div>
		<div class="product clearfix">
			<a href="#"><img src="../images/remove_grey.svg" alt="Manage">Cancel</a>
			<a href="#" class="first btn"><img src="../images/upgrade_grey.svg" alt="Manage">Upgrade</a>
			<h3>google.com</h3>
		</div>
		<div class="product clearfix">
			<a href="#"><img src="../images/remove_grey.svg" alt="Manage">Cancel</a>
			<a href="#" class="first btn"><img src="../images/upgrade_grey.svg" alt="Manage">Upgrade</a>
			<h3>youtube.com</h3>
		</div>
		<div class="product clearfix">
			<a href="#"><img src="../images/remove_grey.svg" alt="Manage">Cancel</a>
			<a href="#" class="first btn"><img src="../images/upgrade_grey.svg" alt="Manage">Upgrade</a>
			<h3>gmail.com</h3>
		</div>
	</div>
</div>
{% endblock %}