{% extends "../account.html" %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li class="active">Support</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Support</h2>
		<h3>View tickets</h3>
	</div>
</div>
<div class="container">
	<a href="newticket" class="newticket">New ticket</a>
	{% if tickets %}
	<table class="tickets">
		<thead>
			<tr>
				<th class="first">Number</th>
				<th>Subject</th>
				<th>Product</th>
				<th>Status</th>
				<th>Last updated</th>
				<th class="last">Details</th>
			</tr>
		</thead>
		<tbody>
			{% for ticket in tickets %}
				<tr>
					<td class="first" data-title="Number">#{{ticket.id}}</td>
					<td data-title="Subject">{{ticket.title}}</td>
					<td data-title="Product">{{ticket.service}}</td>
					<td data-title="Status"><span class="badge {{ticket.status|lower}}">{{ticket.status}}</span></td>
					<td data-title="Last updated">{{ticket.timestamp}}</td>
					<td class="last" data-title="Details">
						<a href="ticket/{{ticket.id}}"><img src="../images/ticket_grey.svg" class="icon">View ticket</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<h2>Sorry no tickets for you!</h2>
	{% endif %}
</div>
{% endblock %}
