{% extends "../account.html" %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li class="active">Support</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Support</h2>
		<h3>View tickets</h3>
	</div>
</div>
<div class="container">
	<a href="newticket" class="newticket">New ticket</a>
	<table class="tickets">
		<thead>
			<tr>
				<th class="first">Number</th>
				<th>Subject</th>
				<th>Product</th>
				<th>Status</th>
				<th>Last updated</th>
				<th class="last">Details</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="first" data-title="Number">0003</td>
				<td data-title="Subject">Student discount</td>
				<td data-title="Product">VPS Hosting</td>
				<td data-title="Status"><span class="badge open">Open</span></td>
				<td data-title="Last updated">12 days ago</td>
				<td class="last" data-title="Details">
					<a href="ticket"><img src="../images/ticket_grey.svg" class="icon">View ticket</a>
				</td>
			</tr>
			<tr>
				<td class="first" data-title="Number">0002</td>
				<td data-title="Subject">Access to API</td>
				<td data-title="Product">VPS Hosting</td>
				<td data-title="Status"><span class="badge solved">Solved</span></td>
				<td data-title="Last updated">2 months ago</td>
				<td class="last" data-title="Details">
					<a href="ticket"><img src="../images/ticket_grey.svg" class="icon">View ticket</a>
				</td>
			</tr>
			<tr>
				<td class="first" data-title="Number">0001</td>
				<td data-title="Subject">Multiple users</td>
				<td data-title="Product">Account</td>
				<td data-title="Status"><span class="badge closed">Closed</span></td>
				<td data-title="Last updated">3 months ago</td>
				<td class="last" data-title="Details">
					<a href="ticket"><img src="../images/ticket_grey.svg" class="icon">View ticket</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
