{% extends "../account.html" %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li><a href="/manage/support">Support</a></li>
			<li class="active">Ticket #0001</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Support</h2>
		<h3>Ticket #0001</h3>
	</div>
</div>
<div class="container clearfix">
	<dl class="ticket clearfix">
	   <dt>Product:</dt>
	   <dd>VPS Hosting</dd>

	   <dt>Subject:</dt>
	   <dd>Multiple users</dd>

	   <dt>Description:</dt>
	   <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus commodo nunc vel tempor. Vivamus vulputate, mauris tincidunt ullamcorper maximus, tellus ipsum cursus est, id malesuada tortor odio vitae ante. Morbi ullamcorper ipsum dui, sed egestas turpis condimentum quis. Pellentesque placerat felis lacinia turpis interdum, sit amet sodales ex hendrerit.</dd>

	   <dt>Status:</dt>
	   <dd><span class="badge open">Open</span></dd>

	   <dt>Last updated:</dt>
	   <dd>3 months ago</dd>
	</dl>
	<span class="replies-label">Replies:</span>
	<section class="replies clearfix">
		<div class="reply">
			<div class="author-profile">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/emieljanson/128.jpg" class="avatar" alt="Aleksi Tappura">
				<div class="text-module">
					<p class="author">Aleksi Tappura</p>
					<p class="date">5th of October, 2014</p>
				</div>
			</div>
			<div class="reply-reply">
				<p>Sed metus erat, fermentum vel elit ut, molestie condimentum lectus. Pellentesque imperdiet hendrerit ante, at congue erat. Pellentesque efficitur lectus non lectus tempor, non porttitor massa fermentum.</p>
			</div>
		</div>
		<div class="reply">
			<div class="author-profile">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/gt/128.jpg" class="avatar" alt="Aleksi Tappura">
				<div class="text-module">
					<p class="author">Phillip Gourley</p>
					<p class="date">4th of October, 2014</p>
				</div>
			</div>
			<div class="reply-reply">
				<p>Sed non tristique erat, et tincidunt odio. Donec at faucibus orci, non rhoncus leo. Phasellus vel varius mauris. Nulla molestie luctus enim nec aliquam. Sed at sapien at libero rutrum sodales sed sit amet nisl. Nullam placerat justo justo.</p>
			</div>
		</div>
	</section>
	<div class="new-reply">
		<form role="form"></form>
		<label>Reply:</label>
		<textarea rows="5"></textarea>
		<button type="submit">Submit reply</button>
		<a href="#" class="remove-ticket">Delete ticket</a>
	</div>
</div>
{% endblock %}