{% extends "../account.html" %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/manage">Account</a></li>
			<li><a href="/manage/support">Support</a></li>
			<li class="active">Ticket #{{ticket_details.id}}</li>
		</ul>
	</div>
</div>
<div class="top-head">
	<div class="container">
		<h2>Support</h2>
		<h3>Ticket #{{ticket_details.id}}</h3>
		{% if ticket_details.status|lower != 'closed' %}
			<a href="/manage/close/ticket/{{ticket_id}}" class="btn account">Close ticket</a>
		{% endif %}
	</div>
</div>
<div class="container clearfix">
	<dl class="ticket clearfix">
		<dt>Product:</dt>
		<dd>&nbsp;{{ticket_details.service}}</dd>

		<dt>Subject:</dt>
		<dd>{{ticket_details.title}}</dd>

		<dt>Description:</dt>
		<dd>{{ticket_details.message}}</dd>

		<dt>Status:</dt>
		<dd><span class="badge {{ticket_details.status|lower|replace(' ', '-', 'g')}}">{{ticket_details.status}}</span></dd>

		<dt>Last updated:</dt>
		<dd>{{ticket_details.date}}</dd>
	</dl>
	<span class="replies-label">Replies:</span>
	<section class="replies clearfix">
		{% for reply in replies %}
		<div class="reply">
			<div class="author-profile">
				<img src="https://www.gravatar.com/avatar/{{reply.gravatar}}" class="avatar" alt="Aleksi Tappura">
				<div class="text-module">
					<p class="author">{{reply.name}}</p>
					<p class="date">{{reply.date}}</p>
				</div>
			</div>
			<div class="reply-reply">
				<p>{{reply.message}}</p>
			</div>
		</div>
		{% endfor %}
		{% if ticket_details.status|lower != 'closed' %}
		<div class="new-reply">
			<form role="form" method="post" action="/manage/ticket/reply">
				<textarea rows="10" cols="40" name="message"></textarea>
				<input type="hidden" name="ticket_id" value="{{ticket_id}}">
				<button type="submit">Submit reply</button>
			</form>
		</div>
		{% endif %}
	</section>
</div>
{% endblock %}
