{% extends "../account.html" %}

{% block content %}
<div class="top-head">
	<div class="container">
		<h2>aleksitappura.com</h2>
		<h3>Upgrade</h3>
	</div>
</div>
<div class="container clearfix">
	<div class="sidebar">
		<ul>
			<li><a href="/manage/product.html"><img src="../images/overview_grey.svg">Overview</a></li>
			<li><a href="/manage/upgrade.html"><img src="../images/upgrade_grey.svg">Upgrade</a></li>
		</ul>
	</div>
	<div class="content">
		<h3>Your plan</h3>
	</div>
</div>
{% endblock %}