{% extends "../page.html" %}

{% block heading %}
  <h1 class="clearfix">All about Mediapig</h1>
{% endblock %}

{% block heading-alignment %}
heading-center
{% endblock %}

{% block body %}
  <h2>Our mission</h2>
  <p>
    To provide you with a completely different hosting experience. We don't lower
    our price to sacrafice quality. We don't put your website on a server with
    thousands of others to share the same hardware. We don't want you to cry inside (or out)
    every time you need something doing. We just want you and your users to have
    the most pain-free experience possible. It's that simple.
  </p>
{% endblock %}
