<section class="card-details-form">
    <form id="cardDetails" action="" method="post">
        <input type="text" name="number" placeholder="Please enter your card number" />
        <input type="text" name="cvc" placeholder="Please enter your 3-digit CVC" />
        <select id="cardExpiryMonth" name="exp_month">
            <option value="0">01</option>
            <option value="1">02</option>
            <option value="2">03</option>
        </select>
        <select id="cardExpiryYear" name="exp_year">
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
        </select>
        <input type="submit" id="submitCardDetails" class="btn large submit-card-details" value="Confirm" />
    </form>
</section>