<section class="card-details-form">
    <form id="cardDetails" action="" method="post">
        <h2>Please, add your credit card</h2>
        <label>Card number</label>
        <input type="text" name="number" placeholder="1234 5678 9123 4567" />
        <label>3-digit CVC</label>
        <input type="text" name="cvc" placeholder="123" />
        <select id="cardExpiryMonth" name="exp_month">
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <select id="cardExpiryYear" name="exp_year">
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
        </select>
        <input type="submit" id="submitCardDetails" class="btn large submit-card-details" value="Confirm" />
    </form>
</section>