<!-- <div class="package-host-overlay">
  <h2>Hello! What's your domain name?</h2>
  <input type="hidden" id="customerid" name="customerid" value="{{customer_id}}" />
  <input type="text" name="hostname" id="package-hostname" placeholder="example.com" value="" />
  <a href="#" class="btn large disabled package-hostname-btn">Next step <i class="icon-uniE604"></i></a>
</div> -->

<div class="wrap">
  <div class="content">
    Main content
  </div>
  <aside class="sidebar">
    Sidebar
  </aside>
</div>
