{% for attribute in attributes %}
<div class="attribute-selector slider {% if loop.first %}{% else %}disabled{% endif %}" data-id="1" {% if attribute.id %} data-complex="true"{% endif %} data-slider>
  <ul class="slides">{% for value in attribute.values %}<li class="attribute" {% if value.id %} data-product-id="{{value.id}}"{% endif %}>
      {% if value.value %}
        {{value.value}} {{attribute.suffix}}
      {% else %}
        {{value}} {{attribute.suffix}}
      {% endif %}
  </li>{% endfor %}</ul>
</div>
{% endfor %}
