html {
	font-size: 0.875em; 
  -webkit-text-size-adjust: 0.875em;
  -ms-text-size-adjust: 0.875em;
}

body {
	font-family: 'Proxima Nova', Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.right {
	float: right;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 20px;
}

}