*, *:after, *:before {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	position: relative;
  min-height: 100%;
	font-size: 0.875em; 
  -webkit-text-size-adjust: 0.875em;
  -ms-text-size-adjust: 0.875em;
}

body {
	margin: 0 0 70px;
	font-family: 'Proxima Nova', Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.right {
	float: right;
}

h1, h2 {
	font-family: 'Proxima Nova Soft', Helvetica Neue, Helvetica, Arial, sans-serif;
}

h3, h4, h5, h6 {
	font-family: 'Proxima Nova', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
}

header {
	height: 70px;
	background-color: #4E4D55;
}

.logo {
	display: inline-block;
}

.logo img {
	height: 35px;
	width: 93px;
	margin-top: 19px;
	display: inline-block;
}

header .right {
	margin-top: 22px;
	display: inline-block;
	font-weight: 600;
	line-height: 25px;
}

header .right a {
	color: rgba(255,255,255,.6);
	text-decoration: none;
}

header .right a:hover {
	color: rgba(255,255,255,1);
}

header .right img {
	margin-right: 15px;
	display: inline-block;
	vertical-align: -4px;
	opacity: .6;
}

header .right a:hover img {
	opacity: 1;
}

header .right a {
	margin-right: 30px;
	padding-right: 30px;
	color: rgba(255,255,255,.6);
	display: inline-block;
	border-right: 1px dotted rgba(255,255,255,.2);
}

header .right a.last {
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}

.top-head {
	padding: 60px 0;
	background-color: #F2F2F2;
}

.top-head h2 {
	margin: 0 0 5px;
	color: #333;
	font-size: 2em;
}

.top-head h3 {
	margin: 0;
	color: #666;
	font-size: 1.5em;
	font-weight: 600;
}

.products {
	padding: 60px 0;
}

.product {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dotted rgba(0,0,0,.2);
}

.last.product {
	border-bottom: 0;
}

.product h3 {
	margin: 0;
	color: #666;
}

.product a {
	float: right;
	color: #666;
	text-decoration: none;
	font-weight: 600;
}

.product a img {
	margin-right: 15px;
	vertical-align: -4px;
}

footer {
	height: 70px;
	position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
	background-color: #2C2C2C;
}

footer p {
	margin: 0;
	color: #666;
	line-height: 70px;
	font-weight: 600;
}