*, *:after, *:before {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
	width: 100%;
}

html {
	position: relative;
  min-height: 100%;
	font-size: 0.875em;
  -webkit-text-size-adjust: 0.875em;
  -ms-text-size-adjust: 0.875em;
}

body {
	margin: 0 0 5.000em;
	color: #333;
	font-family: "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	padding-top: 70px;
	background-color: rgba(226, 226, 226, 0.16);
}

.right {
	float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2 {
	font-family: 'Proxima Nova Soft', 'proxima-nova-soft', Helvetica Neue, Helvetica, Arial, sans-serif;
}

h3, h4, h5, h6 {
	font-family: "Proxima Nova", "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
	content: "\ea10";
}
.icon-arrow-left:before {
	content: "\e60b";
}
.icon-arrow-right:before {
	content: "\e60e";
}
.icon-arrow-down:before {
	content: "\e60c";
}
.icon-arrow-up:before {
	content: "\e60d";
}
.icon-add:before {
	content: "\e606";
}

.container {
	max-width: 59.143em;
	margin: 0 auto;
	padding: 0 2.143em;
}

.header {
	height: 5.000em;
	background-color: #30302a;
	width:100%;
	position:fixed;
	top: 0px;
	z-index: 100;
	border-bottom: 2px solid rgba(0,0,0,0.2);
}

.sidebar {
	width: 20%;
	height: 100%;
	position: fixed;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
	background-color: #FFF;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}

.col8 .block-wrap {
	width: 12.5%;
	float: left;
}

.col8 .span2 {
	width: 25%;
}

.col8 .span4 {
	width: 50%;
}

.col8 .span6 {
	width: 75%;
}

.col8 .block {
	margin: 20px 20px 20px 0;
	background-color: #fff;
	min-height: 20px;
	display: block;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	overflow: hidden;
}

.pull,
.col8 .pull {
	margin-right: 0;
}

.push,
.col8 .push {
	margin-left: 20px;
}

.col8 a.reward {
	text-align: center;
	padding: 20px 0;
	background-color: #f2f8f9;
	border: 1px solid #bee4ed;
	text-decoration: none;
	color: rgba(0,0,0,0.5);
}

.col8 a.reward h2 {
	color: #000;
}

.block h2 {
	font-size: 1em;
	text-transform: uppercase;
	padding: 15px;
	margin: 0;
}

.block-title {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.8);
	background-color: #fcfcfc;
	margin-bottom: 5px;
}

.block-graph .block-title {
	margin: 0;
}

.block-number h4 {
	text-align: center;
	margin-top: 0.5em;
	color: rgba(0,0,0,0.4);
	margin-bottom: 1.5em;
}

.block-number h3 {
	text-align: center;
	margin-top: 0.4em;
	color: rgba(0,0,0,0.8);
	margin-bottom: 0;
	font-size: 3em;
}

.block-number p {
	text-transform: uppercase;
	font-size:  0.7em;
	font-weight: bold;
	text-align:  center;
	opacity:  0.2;
}

.block.block-graph {
	background-color: rgba(0,0,0,0.001);
}

.block.block-graph .graph {
	border-bottom: 20px solid #FFF;
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
	width: 591px;
	height: 160px;
}

.block-list {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	padding: 20px 15px;
}

.block-list	dt {
	float: left;
	clear: right;
	width: 35%;
	color: rgba(0,0,0,0.8);
}

.block-list dd {
	float: right;
	width: 65%;
	margin-left: 0;
	margin-bottom: 15px;
	text-align: right;
	overflow: hidden;
	color: rgba(0,0,0,0.5);
}

.block-list dt,
.block-list dd {
	padding: 0 15px 15px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative;
}

.block-list dd:after {
	display: block;
	content: " ";
	width: 15px;
	height: 100%;
	background-image: -webkit-linear-gradient(left, transparent, #FFF);
	background-image: linear-gradient(to right, transparent, #FFF);
	position: absolute;
	top: 0;
	right: 0;
}

.block-list dt:last-of-type,
.block-list dd:last-of-type {
	padding: 0 15px 5px;
	border-bottom: 0;
	margin: 0;
}


.node-list {
	border-radius: 5px;
	display: inline-block;
	padding: 15px;
	float: left;
}

.node-list a {
	font-size: 16px;
	text-decoration: none;
	line-height: 40px;
	color: rgba(255,255,255,0.8);
	position: relative;
	padding-left: 35px;
}

.node-list .status {
	border-radius: 50% 50%;
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: #b1c69e;
	top: 4px;
	left: 5px;
}

.node-list .status.offline {
	background-color: #ef7373;
}

.node-list .arrow {
	font-weight: bold;
	right: -30px;
	position: absolute;
	top: 1px;
	opacity: 0.5;
}

.logo {
	display: block;
	width: 95px;
	height: 70px;
	margin: 0 auto;
}

.logo img {
	width: 100%;
	margin-top: 20px;
}

.utils {
	background-color: #FFF;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.breadcrumb {
	margin: 0;
	padding: 0;
	width: 30%;
	float: left;
	padding: 15px 20px;
}

.breadcrumb li {
	list-style-type: none;
	display: inline-block;
}

.breadcrumb > li + li:before {
	padding: 0 0.571em 0 0.357em;
	color: #999;
	content: "/";
}

.breadcrumb li a {
	color: #666;
	text-decoration: none;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.breadcrumb li a:hover {
	color: #333;
}

.breadcrumb li.active {
	color: #888;
}

.products {
	padding-bottom: 2.143em;
}

.profile {
	position: relative;
	float: right;
	color: #333;
	text-decoration: none;
	padding-right: 25px;
	padding: 15px 45px 15px 20px;
	border-left: 1px solid rgba(0,0,0,0.1);
}

.profile .arrow {
	position: absolute;
	right: 20px;
	top: 18px;
	opacity: .5;
}

.progress {
	width: 100%;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.2);
	float: left;
	height: 10px;
	display: inline-block;
	overflow: hidden;
}

.progress .current {
	width: 50%;
	background: #59b6e7;
	height: 100%;
	display: block;
	border-radius: 3px;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/fonts/icomoon.eot?-lcj9le');
	src:url('../fonts/icomoon/fonts/icomoon.eot?#iefix-lcj9le') format('embedded-opentype'),
	url('../fonts/icomoon/fonts/icomoon.woff?-lcj9le') format('woff'),
	url('../fonts/icomoon/fonts/icomoon.ttf?-lcj9le') format('truetype'),
	url('../fonts/icomoon/fonts/icomoon.svg?-lcj9le#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
