@media only screen and (max-width : 480px) {
	table, 
	thead, 
	tbody, 
	th, 
	td, 
	tr { 
		display: block; 
	}
 
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	td { 
		border: none;
		position: relative;
		padding: 40px 15px 15px !important;
		white-space: normal;
		text-align:left;
	}
 
	td:before { 
		position: absolute;
		top: 15px;
		left: 15px;
		width: 45%; 
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	td:before {
		content: attr(data-title);
	}

	body {
		font-size: 0.750em; 
	  -webkit-text-size-adjust: 0.750em;
	  -ms-text-size-adjust: 0.750em;
	}

  .method-modal__contents, .upgrade-modal__contents {
  	top: 0;
  	left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
  }
  
  .method-modal__close, .upgrade-modal__close {
    display: block;
  }
  
  .method-modal--transition, .upgrade-modal--transition {
    -webkit-transform: translateX(-0) translateY(150%);
    -moz-transform: translateX(-0) translateY(150%);
    -ms-transform: translateX(-0) translateY(150%);
    transform: translateX(-0) translateY(150%);
  }

}