.order .order-total-wrap {
  position: fixed;
  bottom: 0;
  background-color: #36353b;
  width: 100%;
}

.order .order-total {
  color: #FFF;
  padding: 10px 0;
  position: relative;
}

.order .content {
  width: 80%;
  margin: 0 auto 150px auto;
  text-align: center;
}

.order h1,
.order h2 {
  color: #FFF;
}

.order .header {
  position: relative;
}

h2.order-grid-heading {
  margin: 35px 0 50px;
}

.order-grid > li {
  width: 25%;
  float: left;
}

.selected .order-box {
  background-color: rgba(0,0,0,0.3);
  color: #FFF;
}

.order-wrap {
  width: 100%;
  margin-bottom: 40px;
}

.order-box {
  background-color: rgba(0,0,0,0.15);
  border-radius: 5px;
  padding: 40px 20px;
  margin: 0 15px 15px 0;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  color: rgba(255,255,255,0.6);
}

.order-box .order-recommended {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(0,0,0,0.2);
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.5em;
  padding: 5px;
  border-radius: 5px;
}

.section-bandwidth .order-grid-heading {
  margin: 0;
  padding:  20px;
  background-color: rgba(0,0,0,0.15);
  border-radius: 5px;
}

.order-box h4 {
  margin-bottom: 25px;
  margin-top: 20px;
}

.order-grid li:nth-child(4n+4) .order-box {
  margin: 0 0 15px 0;
}

.order-summary {
  float: left;
  margin: 0 10px;
}

.order-summary .for {
  line-height: 2.5;
  padding: 0 1.5em;
  float: left;
}

.order-total .large {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0 10px 0 0;
  float: right;
}

h3.order-total-price {
  display: inline-block;
  float: left;
  line-height: 1.65;
  padding: 0 1em;
  font-size: 1.8em;
}

.option {
  float: left;
  position: relative;
}

.option-ram {
  margin-right: 10px;
}

.option-trigger,
.os-trigger,
.btn.tertiary {
  background-color: rgba(0,0,0,0.2);
  padding: 0.875em 3.225em 0.875em 1.625em;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.btn.tertiary {
  padding: 0.875em 1.625em;
}

.os-trigger {
  color: rgba(255,255,255,0.6);
}

.option-trigger .icon-arrow-down,
.os-trigger .icon-arrow-down {
  position: absolute;
  right: 0;
  top: 0;
  padding: 17px 20px;
}

.order-grid-item.selected .os-trigger {
  background-color: #2b2a2f;
  color: #FFF;
}

.option-dropdown,
.os-dropdown {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 58px;
  text-align: left;
  background-color: rgba(38,37,42, 0.95);
  border-radius: 5px;
  width: 175px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.selected .option-dropdown {
  display: block;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  opacity: 1;
}

.selected-variation {
  width: 100%;
  padding: 15px 0;
  border-radius: 0 0 5px 5px;
}

.option-dropdown a {
  padding: 14px 18px;
  display: block;
  text-decoration: none;
  color: #666;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: color .6s;
  -o-transition: color .6s;
  transition: color .6s;
}

.option-dropdown a:hover {
  color: #FFF;
  -webkit-transition: color .6s;
  -o-transition: color .6s;
  transition: color .6s;
}

.option-dropdown a.enabled {
  color: #FFF;
}

.os-dropdown {
  width: 100%;
  border-radius: 5px 5px 0 0;
  bottom: 45px;
  text-align: center;
  color: rgba(255,255,255,0.6);
}

.os-dropdown a {
  padding: 10px;
  display: block;
  color: #999;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: color .6s;
  -o-transition: color .6s;
  transition: color .6s;
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;
}

.os-dropdown a:hover {
  color: #FFF;
}

.os-dropdown a.enabled {
  color: #FFF;
}

.os-variations {
  font-size: 0.5em;
  color: rgba(255,255,255,0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.os-variations.selected .os-dropdown {
  display: block;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  opacity: 1;
}

.os-trigger .icon-arrow-down {
  padding: 16px;
  right: 0;
  font-weight: bold;
}

.os-variations .option-value {
  display: block;
  padding-right: 40px;
  padding-left: 20px;
  text-align: left;
}

.soon {
  color: #FFF;
  border-radius: 10px;
  font-size: 0.6em;
  text-align: center;
  background-color: #597F9D;
  padding: 2px 6px;
  text-transform: uppercase;
  top: 0;
  margin-left: 7px;
}

.overlay {
  display: none;
}

.order-overlay.overlay-wrap {
  width: 345px;
}

.order-overlay .signup,
.overlay-loading .signup {
  display: none;
}

.loading-text,
.loading-image {
  display: none;
}

.overlay-loading {
  text-align: center;
}

.overlay-loading .overlay-close {
  display: none;
}

.overlay-loading .loading-text {
  text-align: center;
  color: #CCC;
  margin: 0 0 0 6px;
  display: block;
}

.overlay-loading .loading-image {
  display: inline-block;
}

.card-details-form form {
  position: relative;
}

.card-details-form h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.4em;
  color: #666;
  display: inline-block;
}

.card-details-form label {
  color: #999;
  margin: 2px 0 5px 0;
  display: block;
  text-align: left;
}

.card-details-form select {
  height: 48px;
  width: 165px;
  margin: 3px 0 0;
  text-align: left;
  float: left;
}

.card-details-form .first {
  margin-right: 15px;
}

.card-details-form .name {
  float: left;
  width: 50%;
}

.card-details-form .first-name {
  width: 157px;
  margin-right: 15px;
}

.card-details-form input[type='text'], .card-details-form select,
.discount-form input[type='text'], .discount-form select {
  color: #666;
  background-color: #EFEFEF;
}

.card-details-form .disabled {
  background: #665 url('../images/loading.svg') no-repeat center;
  text-indent: -9999px;
}

input.submit-card-details,
input.discount-form {
  width: 100%;
  margin-top: 30px;
  color: #FFF;
}

.card-details-form input:not(.btn),
.discount-form input:not(.btn) {
  width: 100%;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}

.overlay-wrap {
  top: 100px;
}

.signup h2 {
  color: #666;
}

.btn.discount-code {
  background-color: rgba(0,0,0,0.1);
  color: #999;
  margin-left: 10px;
  padding: 0.875em 1.3em 0.875em 2.9em;
}

.btn.discount-code:hover {
  background-color: rgba(0,0,0,0.2);
  color: #FFF;
}


.btn.discount-code i {
  position: absolute;
  left: 0;
  top: 0;
  padding: 14px 17px;
  font-size: 1.2em;
}

.discount-form h3 {
  margin: 20px 0;
}

.discount-form input.code {
  margin: 0;
  width: 70%;
  float: left;
  border-radius: 5px 0 0 5px;
}

.discount-form .btn {
  float: left;
  box-shadow: none;
  border-radius: 0 5px 5px 0;
  width: 88px;
}

.discount-form form {
  width: 100%;
  position: relative;
}

.discount-head {
  text-align: center;
  margin-top: 30px;
}

.discount-form.enabled .btn {
  background: rgba(0,0,0,0.2) url('../images/loading-white.svg') no-repeat center;
  text-indent: -9999px;
}

.discount-form.success .btn {
  background: #88cf97;
  text-indent: -9999px;
}

.discount-form.success .tick {
  position: absolute;
  right: 36px;
  top: 12px;
  display: block;
  color: #FFF;
  font-size: 1.4em;
}

.discount-message {
  display: none;
  opacity: 0;
  border-radius: 5px;
  background-color: rgba(38,37,42, 0.95);
  padding: 10px;
  position: absolute;
  top: -50px;
  left: 10px;
  -webkit-animation: show .5s ease .1s 1 normal forwards;
  -o-animation: show .5s ease .1s 1 normal forwards;
  animation: show .5s ease .1s 1 normal forwards;
}

.discount-message:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(39, 38, 43, 0);
	border-top-color: #27262b;
	border-width: 5px;
	margin-left: -5px;
}

.discount-applied .discount-message,
.discount-applied-fadeout .discount-message {
  display: inline-block;
}

.discount-applied-fadeout .discount-message {
  opacity: 1;
  -webkit-animation: hide 1.5s ease .8s 1 normal forwards;
  -o-animation: hide 1.5s ease .8s 1 normal forwards;
  animation: hide 1.5s ease .8s 1 normal forwards;
}
