.order .order-total-wrap {
  position: fixed;
  bottom: 0;
  background-color: #36353b;
  width: 100%;
}

.order .order-total {
  color: #FFF;
  padding: 10px 0;
}

.order .content {
  width: 80%;
  margin: 0 auto 150px auto;
  text-align: center;
}

.order h1,
.order h2 {
  color: #FFF;
}

.order .header {
  position: relative;
}

h2.order-grid-heading {
  margin: 35px 0 50px;
}

.order-grid li {
  width: 25%;
  float: left;
}

.selected .order-box {
  background-color: rgba(0,0,0,0.3);
  color: #FFF;
}

.order-wrap {
  width: 100%;
  margin-bottom: 40px;
}

.order-box {
  background-color: rgba(0,0,0,0.15);
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 40px 20px;
  margin: 0 15px 15px 0;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  color: rgba(255,255,255,0.6);
}

.order-box .order-recommended {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(0,0,0,0.2);
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.5em;
  padding: 5px;
  border-radius: 5px;
}

.order-box h4 {
  margin-bottom: 0;
}

.order-grid li:nth-child(4n+4) .order-box {
  margin: 0 0 15px 0;
}

.order-summary {
  float: left;
  margin: 0 10px;
}

.order-summary .for {
  line-height: 2.5;
  padding: 0 1.5em;
  float: left;
}

.order-total .large {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0 10px;
  float: right;
}

h3.order-total-price {
  display: inline-block;
  float: left;
  line-height: 1.65;
  padding: 0 1em;
  font-size: 1.8em;
}

.option {
  float: left;
  position: relative;
}

.option-ram {
  margin-right: 10px;
}

.option-trigger {
  background-color: rgba(0,0,0,0.2);
  padding: 0.875em 3.225em 0.875em 1.625em;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.option-trigger .icon-arrow-down {
  position: absolute;
  right: 0;
  top: 0;
  padding: 17px 20px;
}

.option-dropdown {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 58px;
  text-align: left;
  background-color: rgba(38,37,42, 0.95);
  border-radius: 5px;
  width: 175px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.selected .option-dropdown {
  display: block;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  opacity: 1;
}

.option-dropdown a {
  padding: 14px 18px;
  display: block;
  text-decoration: none;
  color: #666;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: color .6s;
  -o-transition: color .6s
  transition: color .6s
}

.option-dropdown a:hover {
  color: #FFF;
  -webkit-transition: color .6s;
  -o-transition: color .6s
  transition: color .6s
}

.option-dropdown a.enabled {
  color: #FFF;
}

.soon {
  color: #FFF;
  border-radius: 10px;
  font-size: 0.6em;
  text-align: center;
  background-color: #597F9D;
  padding: 2px 6px;
  text-transform: uppercase;
  top: 0;
  margin-left: 7px;
}

.overlay {
  display: none;
}

.overlay-wrap {
  width: 345px;
}

.card-details-form form {
  position: relative;
}

.card-details-form h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.4em;
  color: #666;
  display: inline-block;
}

.card-details-form label {
  color: #999;
  margin: 2px 0 5px 0;
  display: block;
  text-align: left;
}

.card-details-form select {
  height: 48px;
  width: 165px;
  margin: 3px 0 0;
  text-align: left;
  float: left;
}

.card-details-form .first {
  margin-right: 10px;
}

.card-details-form input[type='text'], .card-details-form select {
  color: #666;
  background-color: #EFEFEF;
}

input.submit-card-details {
  width: 100%;
  margin-top: 30px;
  color: #FFF;
}

.card-details-form input:not(.btn) {
  width: 100%;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}
